e2e-tests/data/complex-test-suite/extract-testsuite.yml
id: extract-testsuite
flowId: extract-flow
namespace: io.kestra.terraform.e2e.data.weather
testCases:
  - id: etl
    type: io.kestra.core.tests.flow.UnitTest
    description: Mock raw data, test transformation
    fixtures:
      inputs:
        time: "2024-02-01"
        city: "Paris"
      files:
        geocoding.json: '{"results":[{"id":2950159,"name":"Berlin","latitude":52.52437,"longitude":13.41053,"elevation":74.0,"feature_code":"PPLC","country_code":"DE","admin1_id":2950157,"admin3_id":6547383,"admin4_id":6547539,"timezone":"Europe/Berlin","population":3426354,"postcodes":["10967","13347"],"country_id":2921044,"country":"Germany","admin1":"State of Berlin","admin3":"Berlin, Stadt","admin4":"Berlin"}],"generationtime_ms":0.6148815}'
      tasks:
        - id: geocoding
          description: avoid extracting data from production API
          outputs:
            body: "{{ read(files['geocoding.json']) }}"

    assertions:
      - taskId: geo_output
        value: "{{ json(outputs.geocoding.body).results[0].latitude }}"
        equalTo: 52.52437
        errorMessage: "Invalid return value"